<div class="container">
  <form
    action="/listings/bookListing/{{data._id}}"
    method="post"
    id="listBooking"
    enctype="multipart/form-data"
  >
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="startDate">Start date</label>
        <input
          type="text"
          class="form-control"
          id="startDate"
          name="startDate"
          value="{{data.startDate}}"
          readonly
        />
        <label for="endDate">End date</label>
        <input
          type="text"
          class="form-control"
          id="endDate"
          name="endDate"
          value="{{data.endDate}}"
          readonly
        />
      </div>
      <div class="form-group col-md-6">
        <label for="startTime">Start time</label>
        <input
          type="text"
          class="form-control"
          id="startTime"
          name="startTime"
          value="{{data.startTime}}"
          readonly
        />
        <label for="endTime">End time</label>
        <input
          type="text"
          class="form-control"
          id="endTime"
          name="endTime"
          value="{{data.endTime}}"
          readonly
        />
      </div>
      <div class="form-group col-md-6">
        <label for="price">Hourly Price</label>
        <input
          type="text"
          class="form-control"
          id="price"
          name="price"
          value="{{data.price}}"
          readonly
        />
      </div>
      <div class="form-group col-md-6">
        <label for="price">Number plate</label>
        <input
          type="text"
          class="form-control"
          id="numberPlate"
          name="numberPlate"
          value="{{data.numberPlate}}"
        />
      </div>
    </div>
    <input type="submit" value="Book"/>
  </form>
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Report</button>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="/listings/reportListing/" method="POST">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Report Listing</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="card-wide">
              <h2>Report Listing</h2>
              <label>Reason
                <textarea name="comment" rows="3" cols="30" placeholder="Enter reason for reporting" required>{{comment}}</textarea>
              </label>
              <input type="text" class="form-control" id="_id" name="_id" value="{{data._id}}" hidden />
              <input type="text" class="form-control" id="bookerId" name="bookerId" value="{{data.bookerId}}" hidden />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-danger">Report</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>