<main>
<h1>{{title}}</h1>

<a href="/listings/createListingPage">Create Listing</a>

{{#if getData.listing.length}}
  <div class="row">

    {{#each getData.listing}}
      <div class="col-sm-4">
        <div class="card">
          {{!-- <img src={{parkingImg}} class="card-img-top" alt="Parking Image" /> --}}
          <div class="card-body">
              <h5 class="card-title">{{_id}}</h5>
            {{!-- <h5 class="card-title">{{address}}</h5>
            <p class="card-text">{{zip}}</p> --}}
            {{!-- <a href="parkings/61a2eb490b44342c5afbcd40" class="btn btn-primary">Go Here</a> --}}
            <a href="/listings/getListing/{{_id}}" class="btn btn-primary">Book</a>
            {{!-- {{#if booked != true}} --}}

            <a href="/listings/updateListing/{{_id}}" class="btn btn-primary">Update</a>
            {{!-- <a href="pages/parkings/listingUpdate" class="btn btn-primary">Update</a> --}}

            <a href="/listings/removeListingPage" class="btn btn-primary">Delete</a>

            {{!-- {{/if}} --}}
            <input
              type="hidden"
              id="listingId"
              name="listingId"
              value={{_id}}
            />
          </div>
        </div>
      </div>

    {{/each}}
  </div>

{{/if}}